<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Document Title -->
    <title>Rack 'n' Roll Garage</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Google Fonts: Poppins CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/hero.css" />
    <link rel="stylesheet" href="styles/services.css" />
    <link rel="stylesheet" href="styles/gallery.css" />
    <link rel="stylesheet" href="styles/testemonials.css" />
    <link rel="stylesheet" href="styles/contact.css" />
    <link rel="stylesheet" href="styles/bespokeConversions.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  </head>
  <body id="app">
    <nav class="desktop-nav">
      <img src="images/logo_white.png" />
      <ul>
        <li>
          <a href="#" v-on:click="scrollToSection('servicesSection')"
            >Services</a
          >
        </li>
        <li>
          <a href="#" v-on:click="scrollToSection('gallerySection')">Gallery</a>
        </li>
        <li>
          <a href="#" v-on:click="scrollToSection('contactSection')">Contact</a>
        </li>
      </ul>
    </nav>
    <section id="heroSection">
      <div class="overlay"></div>
      <div class="overlay2"></div>
      <div class="hero-content">
        <div class="hero-header">
          <h1>Custom <span>Campers</span></h1>
          <h3>Camper conversions specialist</h3>
          <button v-on:click="scrollToSection('servicesSection')">
            Services
          </button>
          <button
            class="contact-btn"
            v-on:click="scrollToSection('contactSection')"
          >
            Contact us
          </button>
        </div>
      </div>
    </section>
    <section id="aboutSection">
      <h3 class="fade-in">Let’s bring your camper to life</h3>
      <p
        class="fade-in"
        style="
          padding-bottom: 32px;
          border-bottom: 1px solid #f8c30d;
          opacity: 1;
        "
      >
        <span>Book a free</span> no-obligation consultation today at our Cardiff
        workshop, just minutes away from the city centre.
      </p>

      <p
        class="fade-in"
        style="padding-top: 32px; padding-bottom: 16px; font-weight: 600"
      >
        Since 2017, Rack’n’Roll Garage has earned a solid reputation for
        crafting high-quality camper conversions and pop-tops.
      </p>

      <p class="fade-in" style="padding-bottom: 16px">
        Born from a passion for campervans and backed by years of expert
        carpentry, we create truly bespoke conversions tailored to each
        customer.
      </p>

      <p class="fade-in" style="padding-bottom: 16px">
        Every build reflects our commitment to top-tier craftsmanship,
        thoughtful design, and meticulous attention to detail.
      </p>
    </section>
    <section id="servicesSection">
      <h2 class="fade-in">Van-tastic Services</h2>
      <h3 class="fade-in">Services to kick start your next road trip story</h3>
      <div class="container">
        <div
          class="service-card fade-in"
          v-on:click="toggleSidePageById('bespokeConversions')"
        >
          <img src="images/bespokeConversions.png" />
          <a
            >Bespoke Camper<br /><span>Conversions</span
            ><i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
        <div
          class="service-card fade-in"
          v-on:click="toggleSidePageById('vwConversions')"
        >
          <img src="images/VWConversions.png" />
          <a
            >VW Camper<br /><span>Conversions</span
            ><i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
        <div
          class="service-card fade-in"
          v-on:click="toggleSidePageById('skylineConversions')"
        >
          <img src="images/Skyline.png" />
          <a
            >Skyline<br /><span>Pop-up roofs</span
            ><i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </section>
    <section id="gallerySection">
      <h2 class="fade-in">Rolling Snapshots</h2>
      <h3 class="fade-in">
        Peek inside our most epic home-on-wheels transformations
      </h3>
      <div class="custom-gallery-grid" id="galleryGrid">
        <div class="item item1">
          <img
            src="images/bespokeConversions.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item2">
          <img
            src="images/interior1.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item3">
          <img
            src="images/VWConversions.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item4">
          <img src="images/Skyline.png" v-on:click="openImagePreview" alt="" />
        </div>
        <div class="item item5">
          <img
            src="images/interior2.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item6">
          <img
            src="images/interior4.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item7">
          <img
            src="images/interior5.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
        <div class="item item8">
          <img
            src="images/interior3.png"
            v-on:click="openImagePreview"
            alt=""
          />
        </div>
      </div>
    </section>
    <section id="testimonalsSection">
      <h2 class="fade-in">Roadside Raves</h2>
      <h3 class="fade-in">
        Hear why our clients can’t stop singing our praises
      </h3>
      <div class="testimonals-grid">
        <div class="testimonal-container">
          <label class="client-name">Tom M</label>
          <div class="stars">
            <i class="fa-solid fa-star" v-for="n in 5" :key="n"></i>
          </div>
          <p class="quote">
            "We had some electrics sorted on our caddy and we are really pleased
            with the work done! Alex took time to really explain things to us.
            Genuinely nice approachable group working of people there. Will
            certainly be back if we ever need anything!"
          </p>
        </div>
        <div class="testimonal-container">
          <label class="client-name">Mike Bridges</label>
          <div class="stars">
            <i class="fa-solid fa-star" v-for="n in 5" :key="n"></i>
          </div>
          <p class="quote">
            "Alex and his team have recently carried out a conversion for us.
            From the beginning, Alex was very helpful and patient with all the
            questions that we had. (We had a few!!) We wanted something that was
            a little bit different from a standard conversion, The end result
            was exactly what we wanted. The overall finish and standard of work
            is of the highest quality. We would not hesitate to use Rack'n'Roll
            for any future work that we require"
          </p>
        </div>

        <div class="testimonal-container">
          <label class="client-name">Tammy Boyce</label>
          <div class="stars">
            <i class="fa-solid fa-star" v-for="n in 5" :key="n"></i>
          </div>
          <p class="quote">
            "Alex and his team created the van of our dreams! He listened to
            what we wanted and helped us figure how to make it even better.
            Would absolutely highly recommend. :)"
          </p>
        </div>
      </div>
    </section>
    <section id="contactSection">
      <div class="container fade-in">
        <h2>Contact</h2>
        <p>
          Feeling lost on your van-life journey? We’re here for every question,
          big or small, so reach out and our team will steer you from empty van
          to dream home.
        </p>
        <form class="contact-form">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email" />
          <input type="tel" placeholder="Telephone number" />
          <textarea placeholder="Message"></textarea>
          <button type="submit">Submit</button>
        </form>
        <div class="contact-details">
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:info@racknrollgarage.co.uk"
            >info@racknrollgarage.co.uk</a
          >

          <i class="fa-solid fa-phone"></i>
          <a href="tel:02922337237">02922337237</a>

          <i class="fa-solid fa-location-dot"></i>
          <a
            href="https://www.google.com/maps/search/?api=1&query=Unit+Y1,+Paper+Mill+Business+Park,+Paper+Mill+Road,+Cardiff,+CF11+8DH"
            target="_blank"
            rel="noopener"
          >
            Unit Y1, Paper Mill Business Park, Paper Mill Road, Cardiff, CF11
            8DH
          </a>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.671153439977!2d-3.2221260999999997!3d51.4825502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1b3805befb57%3A0xb5b9efed0eae494d!2sRack&#39;n&#39;Roll%20Garage%20Ltd!5e0!3m2!1sen!2suk!4v1751323437765!5m2!1sen!2suk"
          width="100%"
          height="300"
          style="
            max-height: 300px;
            margin-top: 16px;
            border: none;
            border-radius: 12px;
          "
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>

    <div id="bespokeConversions" class="sidebar bespoke-conversions-wrapper">
      <div class="bespoke-conversions-container">
        <i
          class="fa-solid fa-xmark"
          v-on:click="toggleSidePageById('bespokeConversions')"
        ></i>
        <h2>Bespoke Camper Conversions</h2>
      </div>
    </div>

    <div id="vwConversions" class="sidebar vw-conversions-wrapper">
      <div class="vw-conversions-container">
        <i
          class="fa-solid fa-xmark"
          v-on:click="toggleSidePageById('vwConversions')"
        ></i>
        <h2>VW Camper Conversions</h2>
      </div>
    </div>

    <div id="skylineConversions" class="sidebar skyline-conversions-wrapper">
      <div class="skyline-conversions-container">
        <i
          class="fa-solid fa-xmark"
          v-on:click="toggleSidePageById('skylineConversions')"
        ></i>
        <h2>Skyline Pop-up Roof</h2>
      </div>
    </div>

    <div id="galleryModal" class="gallery-modal">
      <div class="gallery-modal-overlay" v-on:click="closeImagePreview"></div>
      <img id="galleryModalImg" src="" alt="Gallery Fullscreen" />
      <button
        id="galleryModalClose"
        v-on:click="closeImagePreview"
        class="gallery-modal-close"
      >
        &times;
      </button>
    </div>
    <!-- JavaScript -->
    <script src="slidingRowsCarousel.js"></script>
    <script src="main.js"></script>
  </body>
</html>
