.bespoke-conversions-wrapper {
  background-color: white;
}

.bespoke-conversions-wrapper .bespoke-conversions-container {
  display: flex;
  flex-direction: column;
  position: relative;

  section {
    max-width: 1400px;
    margin-top: 80px;
    margin: 0 auto;

    img {
      object-fit: cover;
      object-position: center;
      max-height: 500px;
      height: auto;
      width: 100%;
      border-radius: 12px;
    }
  }

  section.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../images/tex4.png);
    background-position: center;
    background-size: cover;
    max-width: unset;
    width: 100%;
    padding: 80px 40px 80px 40px;
    position: relative;
    border-bottom:10px solid black;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.4);
    }

    h2 {
      margin-bottom: 8px;
      color: var(--text-highlight);
      position: relative;
      z-index: 2;
    }

    h5 {
      margin-top: 16px;
      text-transform: uppercase;
      font-size: 2em;
      color: white;
      position: relative;
      z-index: 2;
    }

    p {
      margin-top: 8px;
      font-weight: 500;
      font-size: 1.6em;
      color: white;
      position: relative;
      z-index: 2;
      opacity: 1;
    }

    button {
      background-color: white;
      border-radius: 8px;
      padding: 16px 24px;
      color: black;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      margin-top: 16px;
      background-color: black;
      color: #ffffff;
      transition: background-color 0.5s ease;
      position: relative;
      z-index: 2;
    }

    button:hover {
      background-color: white;
      color:black;
    }
  }

  section.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 40px;
    margin-top: 120px;

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
    }

    p {
      font-size: 1.2em;
    }
  }
}

.bespoke-conversions-wrapper .bespoke-conversions-container section {
  min-height: unset;

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 2.5em;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 1em;
  }

  h5 {
    font-size: 1.7em;
    font-weight: 700;
  }

  p {
    font-size: 1.5em;
    color: black;
    max-width: 750px;
    opacity: 0.8;
  }
}

.bespoke-conversions-wrapper i {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.vw-conversions-wrapper {
  background-color: var(--primary-color);
}

.vw-conversions-wrapper .vw-conversions-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.vw-conversions-wrapper i {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: -20px;
  right: -20px;
}

.skyline-conversions-wrapper {
  background-color: white;
}

.skyline-conversions-wrapper .skyline-conversions-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.skyline-conversions-wrapper .skyline-conversions-container section{
  min-height: unset;
}

.skyline-conversions-wrapper .skyline-conversions-container section.header {
  width: 100%;
  position: relative;
  padding:40px;
  height: 100%;
  max-height: 100vh;

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.0) 50%
  );
    }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    z-index: 1;
    height: calc(100vh - 88px);
    width: 100%;
  }

  h2{
    color:white;
    z-index: 3;
    position: relative;
    font-size: 6em;
    span{
      color:var(--text-highlight);
    }
  }

  h3{
    color:white;
    font-weight: 700;
    z-index: 3;
    font-size: 2.5em;
    position: relative;
    text-transform: uppercase;
    margin-top:8px;
  }
}

.skyline-conversions-wrapper i {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

@media(max-width:900px){
  .skyline-conversions-wrapper .skyline-conversions-container section.header{
    height: 50vh;
    padding:24px;

    img{
      height: 50vh;
    }

    h2{
      font-size: 3em;
    }

    h3{
      font-size: 1.7em;
    }
  }
}

@media (max-width: 800px) {
  .sidebar {
    padding-left: 0px;
    padding-right: 0px;
  }

  .bespoke-conversions-wrapper .bespoke-conversions-container {
    padding: 0px;
  }
  .bespoke-conversions-wrapper .bespoke-conversions-container section.header {
    padding: 40px 24px 40px 24px;

    h2 {
      font-size: 3em;
    }

    h5{
      font-size: 1.6em;
    }

    p {
      opacity: 0.9;
      font-size: 1em;
    }
  }
  .bespoke-conversions-wrapper .bespoke-conversions-container section.content {
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 24px;
    margin-top: 40px;

    img {
      max-height: 300px;
    }

    div {
      padding: 16px 8px;
    }

    &.kitchens {
      div {
        grid-row: 2;
      }
      img {
        grid-row: 1;
      }
    }
  }
}
