#gallerySection {
  padding: 60px 0px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: transparent;
}

#gallerySection h2 {
  font-size: 3em;
  color: var(--secondary-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  padding: 0 16px;
}

#gallerySection h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 38px;
  margin-top: 8px;
  font-size: 1.5rem;
  padding: 0 16px;
}

#gallerySection .container {
  width: 100vw;
  overflow: hidden;
}

.infinite-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.infinite-grid .row {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px; /* adjust as needed */
  pointer-events: none;
  z-index: 2;
}

.track-blur.left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.track-blur.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.infinite-grid .track {
  display: flex;
  gap: 20px;
  scroll-behavior: auto;
  cursor: grab;
  user-select: none;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.infinite-grid .card {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .track-blur {
    width: 40px;
  }
}
