#gallerySection {
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: transparent;
}

#gallerySection h2 {
  font-size: 3em;
  color: var(--secondary-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

#gallerySection h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 58px;
  font-size: 1.5rem;
}

#gallerySection .container {
  width: 100vw;
  overflow: hidden;
}

.infinite-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.infinite-grid .row {
  width: 100%;
  overflow: hidden;
}
.infinite-grid .track {
  display: flex;
  gap: 20px;
  scroll-behavior: auto;
  cursor: grab;
  user-select: none;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.infinite-grid .card {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  flex-shrink: 0;
}
