#gallerySection {
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: white;
}

#gallerySection h2 {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 800;
  font-size: 4em;
  text-transform: uppercase;
  position: relative;
  line-height: 1em;
  z-index: 1;
  position: relative;
}

#gallerySection h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 38px;
  font-size: 1.5rem;
  margin-top: 14px;
  z-index: 1;
  position: relative;
}

.custom-gallery-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 24px;
  width: 100%;
  max-height: 80vh;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.custom-gallery-grid .item {
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.22, 0.61, 0.36, 1),
    transform 1.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: opacity, transform;
  z-index: 2;
  position: relative;
}

.custom-gallery-grid .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Positioning for collage effect */
.item1 {
  grid-column: 2 / 5;
  grid-row: 3 / 8;
  transform: translateY(-120px) translateX(-120px) scale(0.8);
  transition-delay: 0.4s !important;
}
.item2 {
  grid-column: 5 / 13;
  grid-row: 1 / 9;
  transform: scale(3) translateY(50px);
  transition-delay: 0s !important;
}
.item3 {
  grid-column: 13 / 15;
  grid-row: 3 / 7;
  transform: translateY(-120px) translateX(120px) scale(0.8);
  transition-delay: 0.5s !important;
}
.item4 {
  grid-column: 5 / 10;
  grid-row: 9 / 16;
  transform: translateY(120px) translateX(-120px) scale(0.8);
  transition-delay: 0.6s !important;
}
.item5 {
  grid-column: 10 / 13;
  grid-row: 9 / 17;
  transform: translateY(120px) translateX(120px) scale(0.8);
  transition-delay: 0.7s !important;
}
.item6 {
  grid-column: 1 / 5;
  grid-row: 8 / 17;
  transform: translateX(-160px) scale(0.8);
  transition-delay: 0.8s !important;
}
.item7 {
  grid-column: 13 / 17;
  grid-row: 7 / 11;
  transform: translateX(160px) scale(0.8);
  transition-delay: 0.9s !important;
}
.item8 {
  grid-column: 13 / 16;
  grid-row: 11 / 14;
  transform: translateY(160px) scale(0.8);
  transition-delay: 1s !important;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .custom-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-height: unset;
    gap: 12px;
    padding: 12px;
  }
  .custom-gallery-grid .item {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  .custom-gallery-grid .item.item1 {
    transform: scale(3) translateY(50px);
    transition-delay: 0s !important;
  }
  .custom-gallery-grid .item.item2 {
    transform: translateY(-120px) translateX(-120px) scale(0.8);
    transition-delay: 0.4s !important;
  }
}

/* When loaded, fade in and reset transform */
.custom-gallery-grid.loaded .item {
  opacity: 1;
  transform: none;
}
