#heroSection {
  background-image: url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-position: right 63%;
  background-size: cover;
  width: 100%;
  min-height: 130vh;
  height: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}

#heroSection .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 1;
  z-index: 1;
}

#heroSection .overlay2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 1;
  z-index: 1;
}

#heroSection .hero-content {
  padding: 140px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

#heroSection h1 {
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.9em;
  letter-spacing: 0px;
  span {
    display: block;
    color: var(--secondary-color);
  }
}

#heroSection h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  span {
    color: var(--secondary-color);
  }
}

#heroSection .hero-body {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 350px;
}

#heroSection .hero-header {
  button {
    background-color: #b22222;
    border-radius: 12px;
    padding: 12px 16px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    display: inline-block;
  }
}

#heroSection p {
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  color: white;
  max-width: 870px;
  word-wrap: break-word;
  span {
    font-weight: 600;
  }
}

@media (max-width: 410px) {
  #heroSection {
    min-height: 100vh;
    height: 100%;
    background-position: center center;
    background-size: cover !important;
  }

  #heroSection .hero-content {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }

  #heroSection .hero-content .hero-body {
    margin-top: 400px;
  }
}

@media (max-width: 800px) {
  #heroSection {
    min-height: 100vh;
    background-position: right 40%;
    background-size: cover;
  }

  #heroSection .hero-content {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }

  #heroSection .hero-content .hero-header {
    font-size: 14px;
  }

  #heroSection .hero-content .hero-body {
  }
}

@media (min-width: 400px) {
  #heroSection .hero-content .hero-header {
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  #heroSection .hero-content {
    font-size: 15px;
  }

  #heroSection .hero-content .hero-header {
    font-size: 20px;
  }
}

@media (min-width: 800px) {
  #heroSection .hero-content {
    font-size: 16px;
  }

  #heroSection .hero-content .hero-header {
    font-size: 20px;
  }

  #heroSection p {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  #heroSection .hero-content {
    font-size: 20px;
  }

  #heroSection .hero-content .hero-header {
    font-size: 24px;
  }

  #heroSection p {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  #heroSection .hero-content {
    font-size: 20px;
  }

  #heroSection .hero-content .hero-header {
    font-size: 32px;
  }

  #heroSection p {
    max-width: 870px;
  }
}
