#servicesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 100px 40px 80px 40px;
  align-items: center;

  h2 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 38px;
    line-height: 1em;
  }
}

#servicesSection .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#servicesSection .service-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#servicesSection .service-card .img-wireframe {
  min-height: 250px;
  background: grey;
  border-radius: 16px;
}

#servicesSection .service-card a {
  color: var(--primary-color);
  width: fit-content;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  line-height: 1em;
  padding: 0px 8px;
  span {
    font-weight: 800;
  }
}

#servicesSection .service-card a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#servicesSection .service-card a span {
  font-weight: 800;
}

#servicesSection .service-card a i {
  font-weight: 600;
  color: var(--secondary-color);
  padding-left: 12px;
}
