#servicesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 100px 40px 80px 40px;
  align-items: center;
  justify-content: center;

  h2 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    line-height: 1em;
  }

  h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 38px;
    font-size: 1.5rem;
    margin-top: 14px;
  }
}

#servicesSection.loaded .service-card {
  opacity: 1;
}

#servicesSection .container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#servicesSection .service-card {
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),
    box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 1s ease;
  will-change: transform, box-shadow;
}

#servicesSection .service-card.loaded {
  opacity: 1;
}

#servicesSection .service-card img {
  height: 250px;
  width: auto;
  object-fit: cover;
  object-position: center;
  background: grey;
  border-radius: 16px;
  box-shadow: none;
  transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#servicesSection .service-card a {
  color: var(--primary-color);
  width: fit-content;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  line-height: 1em;
  padding: 0px 8px;
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.3s;
  will-change: transform, color;
}

#servicesSection .service-card a:hover {
  text-decoration: underline;
  cursor: pointer;
  /* Optional: scale link on hover */
  /* transform: scale(1.05); */
}

#servicesSection .service-card a span {
  font-weight: 800;
}

#servicesSection .service-card a i {
  font-weight: 600;
  color: var(--secondary-color);
  padding-left: 12px;
}

@media (max-width: 800px) {
  #servicesSection {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 800px) {
  #servicesSection .service-card:hover {
    transform: scale(1.05);
  }
  #servicesSection .service-card:hover img {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2),
      0px 0px 20px rgba(50, 170, 255, 0.3);
  }
}
