.skyline-conversions-wrapper {
  background-color: white;
}

.skyline-conversions-wrapper .skyline-conversions-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  i.close {
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
  }

  section {
    min-height: unset;
    padding: 80px 40px 80px 40px;
  }

  .header {
    width: 100%;
    position: relative;
    padding: 40px;
    min-height: calc(50vh - 88px);
    outline: 10px solid black;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 50%
      );
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: right 55%;
      z-index: 1;
      height: 100%;
      width: 100%;
    }

    h2 {
      color: white;
      z-index: 3;
      position: relative;
      font-size: 6em;
      span {
        color: var(--text-highlight);
      }
    }

    h3 {
      color: white;
      font-weight: 700;
      z-index: 3;
      font-size: 2.5em;
      position: relative;
      text-transform: uppercase;
      margin-top: 8px;
      line-height: 1.2em;
    }
  }

  .about {
    padding: 120px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;

    h3 {
      font-size: 2.5em;
      line-height: 1.3em;
      max-width: 1200px;
      color: var(--secondary-color);
      text-transform: uppercase;
    }

    p {
      max-width: 1100px;
      font-size: 1.2em;
      opacity: 0.7;
    }
  }

  .overview {
    padding: 80px 40px;
    background-color: #f8fafb;

    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;

      h3 {
        font-size: 2.5em;
        line-height: 1.3em;
        max-width: 1200px;
        color: var(--secondary-color);
        text-transform: uppercase;
      }

      p {
        font-size: 1.2em;
        opacity: 0.7;
        max-width: 1000px;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 60px;
      max-width: 1200px;
      align-items: center;
      margin: 80px auto 0px auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
        max-height: 500px;
        min-height: 300px;
      }

      .safety-info {
        h4 {
          font-size: 2em;
          line-height: 1em;
          margin-bottom: 12px;
          color: var(--primary-color);
          text-transform: uppercase;
        }
        p {
          font-size: 1.2em;
          opacity: 0.7;
          max-width: 800px;
          margin-bottom: 12px;
        }

        ul {
          list-style: none;
          margin-top: 16px;
          li {
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 24px;
            align-items: center;
            margin-bottom: 16px;
            i {
              color: green;
              font-size: 24px;
            }

            p {
              margin-bottom: 0px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .skyline-conversions-wrapper .skyline-conversions-container section.header {
    padding: 16px;

    h2 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.7em;
      max-width: 250px;
    }
  }

  .skyline-conversions-wrapper .skyline-conversions-container h3 {
    font-size: 1.7em !important;
    line-height: 1.3em !important;
  }

  .skyline-conversions-wrapper .skyline-conversions-container h4 {
    font-size: 1.5em !important;
    line-height: 1.2em !important;
  }

  .overview,
  .about {
    padding: 80px 16px!important;
  }

  .overview .grid {
    grid-template-columns: 1fr !important;
    gap: 40px;
  }
}
