:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #50b1e3;
  --secondary-color: #d87600;
  --text-highlight: #f8c30d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

.text-highlight {
  color: var(--text-highlight);
}

section {
  min-height: 100vh;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: opacity;
}

.fade-in.loaded {
  opacity: 1;
}

.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 40px;
  overflow: auto;
  background: white; /* or your preferred background */
  transform: translateX(110%);
  transition: transform 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: transform;
}

.sidebar.active {
  transform: translateX(0px);
}

.sidebar h2 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}

#aboutSection {
  width: 100%;
  min-height: unset;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 1) 270px
  );
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
  padding: 40px;
  position: relative;
  margin-top: -270px;
  /* border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px; */
  overflow: hidden;
  box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.35);

  h3 {
    font-size: 2em;
    font-weight: 800;
    color: var(--text-highlight);
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em;
  }

  p {
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    opacity: 0;
    color: white;
    max-width: 870px;
    word-wrap: break-word;
    span {
      font-weight: 600;
    }
    transition: opacity 1.5s ease;
  }

  p.loaded {
    opacity: 0.8;
  }
}

ul.breadcrumbs {
  list-style: none;
  display: flex;
  color: black;

  li:not(:last-child)::after{
    content: ">";
    margin:0 16px;
  }

  li a {
    text-decoration: none;
    color:black;
  }
}

@media (max-width: 600px) {
  .sidebar {
    padding: 40px 16px;
    font-size: 12px;
  }

  .sidebar i.fa-xmark {
    right: 0px;
  }
}

@media (max-width: 800px) {
  #aboutSection {
    margin-top: -100px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 1) 40px
    );
    padding-left: 24px;
    padding-right: 24px;
    font-size: 15px;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 800px) and (min-height: 600px) {
  #aboutSection {
    margin-top: -100px;
  }
}

@media (max-width: 800px) and (max-height: 600px) {
  #aboutSection {
    margin-top: -40px;
  }
}

@media (min-width: 600px) {
  #aboutSection {
    font-size: 15px;
  }
}

@media (min-width: 800px) {
  #aboutSection {
    font-size: 16px;
  }

  #aboutSection p {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  #aboutSection {
    font-size: 20px;
  }

  #aboutSection p {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  #aboutSection {
    font-size: 20px;
  }

  #aboutSection p {
    max-width: 870px;
  }
}
