#testimonalsSection {
  padding: 80px 24px 80px 24px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.loaded {
    .testimonal-container {
      transform: rotate(0deg) translateY(0px) translateZ(0px) translateY(0px) !important;
    }
  }

  h2 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 800;
    font-size: 4em;
    z-index: 3;
    text-transform: uppercase;
    position: relative;
    line-height: 1em;
  }

  h3 {
    color: var(--off-white-smoke);
    text-align: center;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 38px;
    font-size: 1.5rem;
    z-index: 3;
    position: relative;
  }

  .testimonals-grid {
    max-width: 1000px;
    position: relative;
    display: grid;

    grid-template-rows: auto auto;
    gap: 40px 40px;
    z-index: 3;

    .testimonal-container {
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 32px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08),
        0px 0px 30px rgba(50, 170, 255, 0.2);
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),
        transform 1.6s cubic-bezier(0.22, 0.61, 0.36, 1);
      will-change: opacity, transform;

      .client-name {
        color: var(--primary-color);
        opacity: 1;
        font-weight: 700;
        font-size: 1.5em;
      }
      .quote {
        color: black;
        font-size: 1.1em;
        text-align: center;
        opacity: 0.8;
      }

      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    /* Unique initial transforms for each container */
    .testimonal-container:nth-of-type(1) {
      grid-row: 1;
      grid-column: 1;
      transform: translateY(-150px) translateX(-300px) rotate(-45deg);
      transition-delay: 0.1s;
    }
    .testimonal-container:nth-of-type(2) {
      grid-row: 1 / 3;
      grid-column: 2;
      transform: translateY(-250px) translateX(300px) rotate(45deg);
      transition-delay: 0.4s;
    }
    .testimonal-container:nth-of-type(3) {
      grid-row: 2;
      grid-column: 1;
      transform: translateY(150px) translateX(300px) rotate(45deg);
      transition-delay: 0.8s;
    }
  }
}

.stars i {
  font-size: 1rem;
}

.stars i:nth-child(1) {
  color: var(--secondary-color);
  opacity: 0.5;
}
.stars i:nth-child(2) {
  color: #e98b17; /* blend between secondary and yellow */
  opacity: 0.6;
}
.stars i:nth-child(3) {
  color: #f3b11a; /* mid-point color */
  opacity: 0.7;
}
.stars i:nth-child(4) {
  color: #f7c71a; /* blend between mid and yellow */
  opacity: 0.8;
}
.stars i:nth-child(5) {
  color: var(--text-highlight);
}

/* When loaded, fade in and reset transform */
#testimonalsSection.loaded .testimonal-container {
  opacity: 1 !important;
  transform: none !important;
}

@media (max-width: 800px) {
  #testimonalsSection h2 {
    font-size: 3em;
  }
}

@media (max-width: 700px) {
  .testimonal-container:nth-of-type(1) {
    grid-row: auto !important ;
    grid-column: 1 !important ;
  }

  .testimonal-container:nth-of-type(2) {
    grid-row: auto !important ;
    grid-column: 1 !important ;
  }

  .testimonal-container:nth-of-type(3) {
    grid-row: 3 !important ;
    grid-column: 1 !important ;
  }
}

@media (min-width: 800px) {
  #testimonalsSection h3 {
    margin-bottom: 68px;
  }
}
